In [7]:
import pandas as pd
import numpy as np

In [8]:
texts = ['good movie good',
        'bad movie bad',
        'not good movie']

In [9]:
def texts_to_one_hot_encoding(texts):
    all_words_in_all_texts = ' '.join(texts).split()
    unique_words_in_all_texts = list(set(all_words_in_all_texts))
    d = {}
    for i in unique_words_in_all_texts:
        d[i] = []
    for text in texts:
        d_keys = list(d.keys())
        for word in list(set(text.split())):
            if word in d:
                d[word] += [1]
                d_keys.remove(word)
        for i in d_keys:
            d[i] += [0]
    df = pd.DataFrame()
    for i in list(d.keys()):
        df[i] = d[i]
    return df
texts_to_one_hot_encoding(texts)

   movie  not  good  bad
0      1    0     1    0
1      1    0     0    1
2      1    1     1    0

In [10]:
def TF(texts):
    all_words_in_all_texts = ' '.join(texts).split()
    unique_words_in_all_texts = list(set(all_words_in_all_texts))
    d = {}
    for i in unique_words_in_all_texts:
        d[i] = []
    for text in texts:
        d_keys = list(d.keys())
        for word in list(set(text.split())):
            if word in d:
                d[word] += [text.split().count(word) / len(text.split())]
                d_keys.remove(word)
        for i in d_keys:
            d[i] += [0]
    df = pd.DataFrame()
    for i in list(d.keys()):
        df[i] = d[i]
    return df
    
TF(texts)

      movie       not      good       bad
0  0.333333  0.000000  0.666667  0.000000
1  0.333333  0.000000  0.000000  0.666667
2  0.333333  0.333333  0.333333  0.000000

In [11]:
def IDF(texts):
    tf = TF(texts)
    idf = pd.DataFrame()
    for column in tf:
        new_column = []
        for row in tf[column]:
            if row != 0:
                new_column.append(np.log10(len(tf)/row))
            else:
                new_column.append(0)
        tf[column] = new_column
    return tf
IDF(texts)

      movie       not      good       bad
0  0.954243  0.000000  0.653213  0.000000
1  0.954243  0.000000  0.000000  0.653213
2  0.954243  0.954243  0.954243  0.000000

In [12]:
def TF_IDF(texts):
    return  TF(texts) * IDF(texts)
TF_IDF(texts)

      movie       not      good       bad
0  0.318081  0.000000  0.435475  0.000000
1  0.318081  0.000000  0.000000  0.435475
2  0.318081  0.318081  0.318081  0.000000